/* Layout begins */

@charset "ISO-8859-1";

html {
    overflow:auto;
    font-family: roboto;
}

body {
    padding-top: 50px;
    font-size: 12px;
}

input,textarea,.uneditable-input{
    width:206px;
}

input {
    width: 100% !important
}

div {
    display: block;
}

#left-content .left-subparams{
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding-right: 48px;
}

.content-container .left_content {
    flex: 1 0 0px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0px;
}

.content-container .right_content {
    float: none;

}

.left_content, .right_content {
    word-wrap: break-word;
}

.right-subparams {
    width: 600px !important;
}

.content-container{
    width: 980px;
    margin: auto;

    padding-right=20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.container-left{
    padding-right: 48px;
}

.container-right{
    width: 400px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.hidden-thing {
  position: absolute;
  left: 100%;
  width: 50px;
  height: 50px;
  opacity: 0;
}

/* Layout ends */
/* Custom */

.elib-caption {
    font-size: 24px;
    font-color: #fff;
    text-align: center;
}

/* Forms and Buttons */
.btn-primary, .btn-primary:active {
    background-color: #149dcc;
    border-color: #149dcc;
    color: #ffffff;
    border-radius: 3px;
}

.btn {
    font-weight: 500;
    border-width: 0px;
    font-style: normal;
    letter-spacing: 1px;
    margin: .4rem .8rem;
    white-space: normal;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 1rem 3rem;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    border-radius: 3px;
}

.button {
    font-weight: 500;
    border-width: 0px;
    font-style: normal;
    letter-spacing: 1px;
    white-space: normal;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    border-radius: 3px;
}

.btn .btn-primary {
    position: absolute;
	text-align:center;
}

.btn .btn-success {
    position: absolute;
	text-align:center;
}

.button {
	display:block;
	text-align:center;
}

.form-control {
    background: #fff;
    color: #939598;
    border-radius: 30px;
    box-shadow: none;
    width: 100%;
    border: 1px solid #f1f2f2;
}


.display-4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}
/* Forms and buttons end */
/* Custom ends */

/* Navbar */

.navbar-fixed-top {
    top: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 20px;
    overflow: visible;
}

/* Footer Section */
i {
    font-size : 12px;
    padding-right: 10px;
    color: #aece61;
}

/*footer bottom */
.footer-bottom {
     padding-top: 0px;
     padding-bottom: 10px;

     border-top: 1px solid #2f2f33 ;
     background: #000000;

     position: absolute;
     right: 0;
     bottom: 0;
     left: 0;

}

.copyright-text p {
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 0;
    font-size:12px;
}

.copyright-text a {
    color: #ffffff;
    margin: 0px 10px 0px 10px;

}
.copyright-text a:hover {
    color: #eeeeee  ;
}

.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
margin-left: 20px;
margin-right: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

.jumbotron-sm {
padding-top: 1px;
padding-bottom: 1px;
}

.jumbotron small {
color: #FFF;
}

.h1 small {
font-size: 12px;
margin: 20px;
}