<!-- https://bootsnipp.com/snippets/vlOZ6 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>
<body>
<!-- Top most container: Includes everything  -->
<div class="container-1" id="overall">
    <div th:replace="common/navbar :: common-navbar"/>
    <!-- Global container: includes everything other than headers or navbar & footers -->
    <div class="globalContainer" id="globalContent">
        <!-- Content container: Includes padding between headers or navbars and footers-->
        <div class="content-container clearfix" id="content">

            <div class="row">
                <span><legend><h1 class="h1">Contact</h1></legend></span>
            </div>

            <div class="row">
                <legend><span class="glyphicon glyphicon-phone-alt"></span> Contact Us</legend>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="well well-sm">
                            <form th:action="@{/contact}" th:object="${contact_us}" method="post">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="form-group">
                                            <label for="name">
                                                Name</label>
                                            <input type="text" class="form-control" id="name" placeholder="Enter name"
                                                   required="required" th:field="*{name}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email Address</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-envelope"></span>
                                                </span>
                                                <input type="email" class="form-control" id="email"
                                                       placeholder="Enter email"
                                                       required="required" th:field="*{email}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="subject">Subject</label>
                                            <input type="text" class="form-control" id="subject"
                                                       placeholder="Enter subject"
                                                       required="required" th:field="*{subject}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" class="form-control" id="phone"
                                                   placeholder="Enter phone number"
                                                   required="required" th:field="*{phone}"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="form-group">
                                            <label for="name">Message</label>
                                            <textarea name="message" id="message" class="form-control" rows="9"
                                                      cols="25"
                                                      required="required"
                                                      placeholder="Message" th:field="*{message}"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                            Send Message
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-2">
            <span>
                <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
                <label class="control-label">Address</label>
                <div th:text="#{contact.address.name}"/>
                <div th:text="#{contact.address.line1}"/>
                <div th:text="#{contact.address.line2}"/>
                <div th:text="#{contact.address.phone}"/>
                <div th:text="#{contact.address.email}"/>
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Global container ends -->

    <!-- Footer -->
    <!-- Footer ends -->

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <div th:replace="common/header :: before-body-scripts"/>
    <!-- Body bottom scripts end  -->
</div> <!-- Container-1: Top most container ends -->
</body>
</html>
