<!-- https://bootsnipp.com/snippets/vlOZ6 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>
<body>

<div th:replace="common/navbar :: common-navbar"/>

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <h1 class="h1">Welcome to eLib</h1>
        </div>
    </div>
</div>
<div class="container clearfix">

    <div class="row">
        <legend><span class="glyphicon glyphicon-log-in"></span> Login</legend>
        <form th:action="@{/login}" method="post">
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Invalid username or password.
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">
                    You have been logged out.
                </div>
            </div>

            <div class="form-group">
                <label for="username">Username</label>:
                <input type="text"
                       id="username"
                       name="username"
                       class="form-control"
                       autofocus="autofocus"
                       placeholder="Username"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>:
                <input type="password"
                       id="password"
                       name="password"
                       class="form-control"
                       placeholder="Password"/>
            </div>
            <div class="form-group">
                <div class="row">
                    <input type="submit"
                           name="login-submit"
                           id="login-submit"
                           class="form-control btn btn-primary pull-right"
                           value="Log In"/>
                </div>
            </div>
            <div class="form-group">
                <span>New user? <a th:href="@{/signup}">Register here</a></span>
            </div>
        </form>
    </div>
</div>
<div th:replace="common/header :: before-body-scripts"/>
</body>
</html>