<!-- https://bootsnipp.com/snippets/vlOZ6 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>
<body>
<!-- Top most container: Includes everything  -->
<div class="container-1" id="overall">
    <div th:replace="common/navbar :: common-navbar"/>
    <!-- Global container: includes everything other than headers or navbar & footers -->
    <div class="globalContainer" id="globalContent">
        <!-- Content container: Includes padding between headers or navbars and footers-->
        <div class="content-container clearfix" id="content">

            <div class="row">
                <span><legend><h1 class="h1">Welcome!</h1></legend></span>
            </div>

            <div class="row">
                <div class="col-xs-4"> <!-- Column begins -->
                    <legend><span class="glyphicon glyphicon-log-in"></span> Login</legend>
                    <form th:action="@{/login}" method="post">
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                Invalid username or password.
                            </div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">
                                You have been logged out.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username">Username</label>:
                            <input type="text"
                                   id="username"
                                   name="username"
                                   class="form-control"
                                   autofocus="autofocus"
                                   placeholder="Username"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>:
                            <input type="password"
                                   id="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                 <span class="button"><button href="" type="submit" class="btn btn-primary btn-form display-4">LOGIN</button></span>
                            </div>
                            <div class="form-group">
                                <span>New user? <a th:href="@{/signup}">Register here</a></span>
                            </div>
                        </div>
                    </form>
                    <div class="outer"> <!-- Vertical line -->
                        <div class="inner"></div>
                    </div>
                </div> <!-- Column ends -->
                <div class="col-xs-8 elib-caption"> <!-- Column begins -->
                    <span><legend><h1 class="h1">...where words speak as loud as actions</h1></legend></span>
                </div> <!-- Column ends -->
                </div> <!-- Row ends -->
            <div class="row"><!-- Row begins -->
            </div><!-- Row ends -->
        </div> <!-- Content container ends -->
    </div> <!-- Global container ends -->
    <!-- Footer -->
    <!-- Footer ends -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <div th:replace="common/header :: before-body-scripts"/>
    <!-- Body bottom scripts end  -->
</div> <!-- Container-1: Top most container ends -->
</body>
</html>