<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/loginHeader :: common-login-header" />
<body>
<div class="container">
    <div class="text-center">
        <h1 class="nice" th:text="#{signup.h1.title}"/>
    </div>
    <div th:if="${signedUp != null}">
                <div th:if="${signedUp == 'true'}" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <p th:text="#{signup.profile.created.success}" class="text-center"/>
                </div>
                <div th:if="${signedUp == 'false'}" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <p th:text="${message}" class="text-center"/>
                </div>
    </div> 
    <form class="form-horizontal" method="post"
          th:action="@{/signup}">
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name" th:text="#{signup.h1.firstname}"/>

            <div class="col-md-4">
                <input id="name" name="name" type="text" placeholder="First Name" class="form-control input-md" required="required"/>
            </div>
        </div>
		<!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name" th:text="#{signup.h1.lastname}"/>

            <div class="col-md-4">
                <input id="name" name="name" type="text" placeholder="Last Name" class="form-control input-md" required="required"/>
            </div>
        </div>
        <!-- Select Date Of Birth-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name" th:text="#{signup.dob.month}"/>

            <div class="col-md-4">
                <input id="name" name="name" type="text" placeholder="Month" class="form-control input-md" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name" th:text="#{signup.dob.day}"/>

            <div class="col-md-4">
                <input id="name" name="name" type="text" placeholder="Day" class="form-control input-md" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name" th:text="#{signup.dob.year}"/>

            <div class="col-md-4">
                <input id="name" name="name" type="text" placeholder="Year" class="form-control input-md" required="required"/>
            </div>
        </div>
        <!-- Gender Input -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="checkboxes" th:text="#{signup.h1.gender}"/>

            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input name="genderboxes" id="genderboxes-0" value="1" type="radio" th:text="#{signup.h1.male}"/>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="genderboxes" id="genderboxes-1" value="2" type="radio" th:text="#{signup.h1.female}"/>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="genderboxes" id="genderboxes-2" value="3" type="radio" th:text="#{signup.h1.other}"/>
                    </label>
                </div>
                <span class="help-block" th:text="#{signup.h1.gender.select}"/>

            </div>
        </div>
        <!-- Email and Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password" th:text="#{signup.h1.email}"/>

            <div class="col-md-4">
                <input id="email" name="email" type="email" placeholder="Email"
                       class="form-control input-md" required="required"/>
                <span class="help-block" th:text="#{signup.h1.email.span}"/>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-4 control-label" for="password" th:text="#{signup.h1.password}"/>
            <div class="col-md-4">
                <input id="password" name="password" type="password" placeholder="Password"
                       class="form-control input-md" required="required"/>
                <span class="help-block" th:text="#{signup.h1.password.span}"/>
            </div>
         </div>
         <div class="form-group">
         <label class="col-md-4 control-label" for="password" th:text="#{signup.h1.password.confirm}"/>
            <div class="col-md-4">
                <input id="repeat-password" name="repeat-password" type="password" placeholder="Repeat password"
                       class="form-control input-md" required="required"/>
                <span class="help-block" th:text="#{signup.h1.password.confirm.span}"/>
                <a th:href="@{/login}" th:text="#{login.already.user}" />
            </div>
        </div>
    </form>
</div>

<!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>

            <div class="col-md-8">
                <button type="submit" class="btn btn-success" th:text="#{signup.button.save}"/>
                <a id="cancel" name="cancel" class="btn btn-danger" href="#" th:text="#{signup.button.cancel}"/>
            </div>
        </div>
<div th:replace="common/loginHeader :: before-body-scripts" />
</body>
</html>

