<!-- https://bootsnipp.com/snippets/vlOZ6 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>
<body>
<!-- Top most container: Includes everything  -->
<div class="container-1" id="overall">
    <div th:replace="common/navbar :: common-navbar"/>
    <!-- Global container: includes everything other than headers or navbar & footers -->
    <div class="globalContainer" id="globalContent">
        <!-- Content container: Includes padding between headers or navbars and footers-->
        <div class="content-container clearfix" id="content">

            <div class="row">
                <span><legend><h1 class="h1">Contacts</h1></legend></span>
            </div>

            <div class="row">
                <legend><span class="glyphicon glyphicon-list-alt"></span> Manage contacts and friends</legend>
            </div>
            <div class="container marketing">
                <div class="col-xs-8">

                </div>
                <div class="col-xs-2">
                        <span>
                            <legend><span class="glyphicon glyphicon-send"></span> Pilot</legend>
                            <label class="control-label">What to do next?</label>
                            <div th:text="#{room.pilot.text}"/>
                        </span>
                </div>
            </div><!-- Marketing container -->
        </div> <!-- Content container -->
    </div> <!-- Global container ends -->

    <!-- Footer -->
    <!-- Footer ends -->
    <!-- Body bottom scripts  -->
    <div th:replace="common/header :: before-body-scripts"/>
    <!-- Body bottom scripts end  -->
</div> <!-- Container-1: Top most container ends -->
</body>
</html>