<!-- https://bootsnipp.com/snippets/vlOZ6 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header">
    <link th:href="@{/css/contacts.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<!-- Top most container: Includes everything  -->
<div class="container-1" id="overall">
    <div th:replace="common/navbar :: common-navbar"/>
    <!-- Global container: includes everything other than headers or navbar & footers -->
    <div class="globalContainer" id="globalContent">
        <!-- Content container: Includes padding between headers or navbars and footers-->
        <div class="content-container clearfix" id="content">

            <div class="row">
                <span><legend><h1 class="h1">Contacts</h1></legend></span>
            </div>

            <div class="row">
                <legend><span class="glyphicon glyphicon-list-alt"></span> Manage contacts</legend>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <fieldset>
                            <legend><h3><span class="glyphicon glyphicon-search"></span> Look up contacts</h3></legend>
                        </fieldset>
                        <fieldset>
                            <form class="navbar-form navbar-left" th:action="@{/contacts}" method="post">
                                <div class="form-group">
                                    <input type="text" name="keyword" placeholder="Search in contacts" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary glyphicon glyphicon-search"/>
                                </div>
                            </form>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <legend><h3><span class="glyphicon glyphicon-th-list"></span> Contacts</h3></legend>
                            </div>
                            <div class="table-responsive">
                                <table id="example" class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>First name</th>
                                        <th>Last name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-th-each="contactSearchResults : ${contactSearchResults}">
                                        <td data-th-text="${contactSearchResults.firstName}">...</td>
                                        <td data-th-text="${contactSearchResults.lastName}">...</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>

                    </div>
                    <div class="col-xs-2">
                        <span>
                            <legend><span class="glyphicon glyphicon-send"></span> Pilot</legend>
                            <label class="control-label">What to do next?</label>
                            <div th:text="#{room.pilot.text}"/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Global container ends -->

    <!-- Footer -->
    <!-- Footer ends -->
    <!-- Body bottom scripts  -->
    <div th:replace="common/header :: before-body-scripts"/>
    <script th:src="@{/js/contacts/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/js/contacts/dataTables.jqueryui.min.js}"></script>
    <script th:src="@{/js/contacts/dataTables.uikit.min.js}"></script>
    <script th:src="@{/js/contacts/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/contacts/contacts.js}"></script>
    <!-- Body bottom scripts end  -->
</div> <!-- Container-1: Top most container ends -->
</body>
</html>